/*** MATERIALIZE STICKY FOOTER ***/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e7d3b3;
}

main {
    flex: 1 0 auto;
}


/* END FOOTER */

.active {
    color: #5c575a;
}

a {
  color: #88876a
}

.rc-calendar-selected-day {
    /*background-color: blue;*/
    border-radius: 50px;
    border: 2px solid black;
}

.rc-calendar-input {
    text-align: center;
    font-weight: bold;
}

.input-field label {
  font-size: .75rem;
}
