<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <title>Justapose</title>
    <!-- css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- materialize -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.js"></script>
    <!-- scripts -->
    <script src="../js/app.js"></script>
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="grey">
          <div class="nav-wrapper container row">
            <h4 class="col s6 m4 l3"><a href="/">Justapose</a></h4>
          </div>
        </nav>
      </div>
    </header>
    <main ui-view class="container row">
      <a href="/api/auth/google">Login with Google</a>
    </main>
    <footer class="page-footer footer-copyright grey white-text">
      <div class="container">©2016 justapose</div>
    </footer>
  </body>
</html>
